.calendarWrapper {
    background-color: var(--color-main-deep-sea-navy-lighter);
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 8px;
    gap: 10px;
    min-width: 50%;
    height: 100%;

}

.monthYearWrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 15px 0 5px 0;

    & div {
        display: flex;
        height: fit-content;
        gap: 10px;
        align-items: center;

        & button {
            background-color: var(--color-main-deep-sea-navy-lighter);
            border-radius: 8px;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            transition: all 200ms linear;
        }

        & button:focus {
            outline: 1px solid var(--color-main-deep-sea-navy);
        }

        & button:hover {
            -moz-box-shadow: 0 0 6px 1px var(--color-main-deep-sea-navy-lighter);
            -webkit-box-shadow: 0 0 6px 1px var(--color-main-deep-sea-navy-lighter);
            box-shadow: 0 0 6px 1px var(--color-main-deep-sea-navy-lighter);
        }
    }

    & .monthYear {
        display: flex;
        gap: 5px;
        align-items: center;
        justify-content: center;
        color: var(--color-main-deep-sea-navy);
    }
}


.weekDays {

    width: 100%;

    & div {
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        place-items: center;

        width: 100%;
        padding: 10px;
        background-color: var(--color-main-deep-sea-navy-lighter);
        color: var(--color-main-deep-sea-navy-light);
    }

}

.days {
    cursor: pointer;
    color: var(--color-main-deep-sea-navy);
    display: grid;
    place-items: center;
    width: 100%;
    grid-template-columns: repeat(7, 1fr);
    row-gap: 10px;
    transition: all 300ms linear;
    padding: 0 5px 10px 5px;

    & button {
        font-weight: bold;
        color: var(--color-main-deep-sea-navy);
        cursor: pointer;
    }

    & .dayNumber, .passedDay {
        transition: all 200ms linear;
        border-radius: 10px;

    }

    & .dayNumber:hover, .dayNumber:focus {
        background-color: var(--color-main-deep-sea-navy-lighter);
        padding: 10px;
        outline: transparent;
        outline: none;
    }

    & .passedDay {
        filter: brightness(10%);
        font-weight: lighter;
    }


    .specifiedDay {
        background-color: var(--color-main-deep-sea-navy);
        color: white;
        padding: 10px;
        border-radius: 10px;
        cursor: pointer;
    }

}