.homepageHeader {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 8px 0 8px 0;
    margin-bottom: 20px;
    background-color: var(--color-main-deep-sea-navy-lighter);
    -moz-box-shadow: var(--shadow-moz-box);
    -webkit-box-shadow: var(--shadow-webkit-box);
    box-shadow: var(--shadow-box);
    position: relative;
}

.websiteName {
    text-decoration: none;

    & h1 {
        font-family: var(--font-dancing-script), sans-serif;
        color: var(--color-main-deep-sea-navy);
        font-size: calc(var(--font-size-l) + 4px);
        transition: all 300ms linear;
    }

}


.websiteName:hover {
    text-shadow: 0 0 1px #002F4E;
    cursor: pointer;
}

.navigation {
    display: flex;
    gap: 30px;
    font-family: var(--font-quicksand), sans-serif;

    & a {
        color: var(--color-main-deep-sea-navy-light-5);
        font-size: var(--font-size-m);
        font-weight: bold;
        text-decoration: none;
        transition: all 400ms linear;
        position: relative;

    }

    a::before {
        content: '';
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 2px;
        background-color: var(--color-main-deep-sea-navy);
        bottom: -3px;
        transform-origin: top left;
        border-radius: 8px;
        transition: transform 0.3s ease-out;
    }

    a:hover::before {
        transform: scaleX(1);
    }
}

.userLogin{
    position: absolute;
    right: 5%;
    top: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    gap: 10px;

    & button{
        cursor: pointer;
        border: none;
        color: var(--color-main-deep-sea-navy);
        transition: all 200ms linear;
    }

    .authButtons{
        display: flex;
        gap: 3px;
    }

        & button:hover{
            font-weight: bold;
        }
}



