.homepageHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    justify-content: space-between;
    padding: 15px;
    background-color: var(--color-main-deep-sea-navy-lighter);
    -moz-box-shadow: var(--shadow-moz-box);
    -webkit-box-shadow: var(--shadow-webkit-box);
    box-shadow: var(--shadow-box);
    position: relative;

}

.websiteName {
    text-decoration: none;

    & h1 {
        text-align: center;
        font-family: var(--font-dancing-script), sans-serif;
        color: var(--color-main-deep-sea-navy);
        font-size: calc(var(--font-size-l) + 4px);
        transition: all 300ms linear;
    }

}


.websiteName:hover {
    text-shadow: 0 0 1px #002F4E;
    cursor: pointer;
}

.navigation {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    font-family: var(--font-quicksand), sans-serif;

    & a {
        color: var(--color-main-deep-sea-navy-light-5);
        font-size: var(--font-size-m);
        font-weight: bold;
        text-decoration: none;
        transition: all 400ms linear;
        position: relative;

    }

    a::before {
        content: '';
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 2px;
        background-color: var(--color-main-deep-sea-navy);
        bottom: -3px;
        transform-origin: top left;
        border-radius: 8px;
        transition: transform 0.3s ease-out;
    }

    a:hover::before {
        transform: scaleX(1);
    }
}

.userLogin{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;



    .authButtons{
        display: flex;
        align-items: center;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        & hr{
            width: 100%;
            height: 3px;
            background-color: var(--color-main-deep-sea-navy);
            border: transparent;
            border-radius: 10px;
        }
    }
        & a {
            padding: 5px;
            margin: 1px;
            font-size: var(--font-size-m);
            color: var(--color-main-deep-sea-navy);
            transition: all 300ms linear;
            border-radius: 6px

        }


        & a:focus{
            background-color: var(--color-main-deep-sea-navy);
            color: white;
        }
        & a:hover{
            outline: 1px solid var(--color-main-deep-sea-navy);


        }
}



