.calendarWrapper{
    display: flex;
    flex-direction: column;

    position: relative;
    .datePicker{
        display: flex;
        cursor: pointer;
        border-radius: 12px;
        align-items: center;
        gap: 10px;
        padding: 10px;
        border: 1px solid var(--color-main-deep-sea-navy);
        width: fit-content;
        color: var(--color-main-deep-sea-navy);
    }

    .datePicker:focus{
        outline: 2px solid var(--color-main-deep-sea-navy);
    }


    .calendar{
        position: relative;
        z-index: 999;

    }
}