@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Quicksand:wght@300..700&display=swap');


:root{
  /* colors */
  --color-main-black: #000000;
  --color-main-deep-sea-navy: #002F4E;

  /* font sizes */
  --font-size-xs: 4px;
  --font-size-s: 8px;
  --font-size-m: 16px;
  --font-size-l: 32px;
  --font-size-xl: 64px;

  /* font families */
  --font-dancing-script: 'Dancing Script';
  --font-quicksand: 'Quicksand'

}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html{
  scroll-behavior: smooth;
}

